
body { margin: 0; font-family: Noto Sans,sans-serif;} 


#main-container{
    font-family: 'Circular Std Black', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#header { display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-bottom:30px;

    h1 {
        font-size:30px;
        margin: 40px 0px auto;
        @media (max-width: 640px) {
          font-size:25px;
        }
        font-family: Noto Sans,sans-serif;
    }
}


#container { 
    width: 1102px;
    height: 420px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #edf1f4;
    border-radius: 3px;
    box-shadow: 5px 10px 50px 0 rgba(1,121,255,.1), 5px 10px 50px 0 rgba(0,0,0,.2);
}

#slider { 
    overflow: hidden; 
    background-color: white;
    width:1040px;
    height:418px;
}

#slider #figure { 
    position: relative;
    width: 5000%;
    margin: 0;
    left: 0;/* jouer sur left pour decaler */  
    text-align: left;
    
    transition: 800ms;
    transition-timing-function: ease-out;
    /*animation: 10s slidy infinite; */
}

/* two screen breakpoints (1920 & 1280).  */
#slider #figure .card { 
    width: 1040px; 
    float: left; 
    display: flex;
    align-items: center;
    margin-top: 9px;
}

.img-zone{
    width:50%;
    position: relative;
    float:left;
    height: auto;
    border-radius: 4px;
}

.img-zone .img {
    width:100%;
    height: auto;
    border-radius: 4px;
}


.img-zone .weather{
    position: absolute;
    color: white;
    right: 20px;
    top: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 140px;
}

.img-zone .weather .cloud{
    margin-right: 9px;
}

.img-zone .weather .local-time{
  font-size: 20px;
}

.img-zone .weather .temperature{
    display:flex;
    flex-direction: line;
    justify-content: center
 }
 
 .img-zone .weather .temperature p{
    font-size: 38px;
    margin: 0;
 }



.Info {

    width:50%;
    padding: 16px;
    background-color: white;
    float: left;    
    font-family: Noto Sans,sans-serif;

    .city {
        font-size: 30px;
        font-weight: bold;
    }
    .country {
        font-size: 24px;
        color: dimgray;
    }

    .description {
        font-size: 15px;
        height:120px;
        overflow-y: scroll;
    }

    .stars {
        width: 94px;
        margin-bottom: 17px;
        margin-top: 7px;
    }
}


.starting-from{
    margin-top:20px;
    font-size: 14px;
    color:grey;
}

.price{
    font-weight: bold;
    color: #4bab86;
    margin-bottom: 13px;
}

.button-bar{
  font-size: 20px;
  display:flex; 
  justify-content: space-between;
  width: 60%;
}

.arrow{
    width:30px;
    height:418px; 
    background: none;
    font-size: 82px;
    border-style: none;
    color:darkgrey;
    font-family: monospace;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.button{
    background: none;
    border: 1px solid #43a27c;
    color: #43a27c;
    border-radius: 3px;
    padding: 9px;
    font-size: 17px;
    font-weight: bold;
}

button img:hover{
    background-color:#edf1f4
}

.price .amount{
    font-size: 34px;
}

.price .currency{
    font-size: 20px;
    margin-left: 5px;
}