body { margin: 0; font-family: Noto Sans,sans-serif;} 


$break-small: 1000px;
$break-medium: 1280px;
$break-large: 1920px;
$ratio: 0.381;

$font-large: 25px;
<<<<<<< HEAD
$font-medium: 15px;
=======
$font-medium: 17px;
>>>>>>> e6224aea28a42c3ddab567328e3e09904fc3e347
$font-small: 14px;


@media screen and (min-width: $break-large) {           

    #header h1 {
        font-size: 2 * $font-large;
    }
    #container { 
        width: $break-large - 20; 
        height: $ratio * $break-large; 
        .arrow{
           height: $ratio * $break-large - 2; 
        }
    }

    #slider { 
        width:  $break-large - 82;
        height: $ratio *  $break-large - 2;
    }

    .card { 
        width: $break-large - 82;
    }

    //info     
    .city {
        font-size: 2 * $font-large;
    }
    .country {
        font-size: 1.6 * $font-large;
    }

    .stars {
        width: 153px;
    }

    .description {
        font-size: $font-large;
        height: 253px;
    }
    
    .starting-from{
        font-size: $font-large;
    }
    
    .price{
        .amount{
            font-size: 2.26 * $font-large;
        }
        .currency{
            font-size: 1.33 * $font-large;
        }
    }
    
    .button-bar .button{
        font-size: 1.133 * $font-large;
    }
}

@media screen and (max-width: $break-large) and (min-width: $break-medium) {
    
    #header h1 {
        font-size: 2 * $font-medium;
    }

    #container { 
        width: $break-medium - 20; 
        height: $ratio * $break-medium;
        .arrow{
           height: $ratio * $break-medium - 2; 
        }
    }

    #slider { 
        width:  $break-medium - 82;
        height: $ratio * $break-medium - 2;
    }

    .card { 
        width: $break-medium - 82;
    }

    //info     
    .city {
        font-size: 2 * $font-medium;
    }
    .country {
        font-size: 1.6 * $font-medium;
    }
    .description {
        font-size: $font-medium;
        height: 165px;
    }
    .stars {
        width: 110px;
    }
    .starting-from{
        font-size: $font-medium;
    }

    .price{
        .amount{
            font-size: 2.26 * $font-medium;
        }
        .currency{
            font-size: 1.33 * $font-medium;
        }
    }

    .button-bar .button{
        font-size: 1.133 * $font-medium;
    }
}

@media screen and (max-width: 1280px) {
    #header h1 {
        font-size: 2 * $font-small;
    }

    #container { 
        width: $break-small - 20; 
        height: $ratio * $break-small;
         
        .arrow{
           height: $ratio * $break-small - 2; 
        }
    }

    #slider { 
        width:  $break-small - 82;
        height: $ratio * $break-small - 2;
    }

    .card { 
        width: $break-small - 82;
    }
   
    //info     
    .city {
        font-size: 2 * $font-small;
    }
    .country {
        font-size: 1.6 * $font-small;
    }
    .description {
        font-size: $font-small;
        height: 110px;
    }
    .stars {
        width: 94px;
    }
    .starting-from{
        font-size: $font-small;
    }

    .price{
        .amount{
            font-size: 2.26 * $font-small;
        }
        .currency{
            font-size: 1.33 * $font-small;
        }
    }

    .button-bar .button{
        font-size: 1.133 * $font-small;
    }
   
}


#main-container{
    font-family: 'Circular Std Black', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    #header { display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-bottom:30px; 

        h1 {
            //font-size:30px;
            margin: 40px 0px auto;
            font-family: Noto Sans,sans-serif;
        }
    }

    #container { 
        // width: 1102px;
        // height: 420px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #edf1f4;
        border-radius: 3px;
        box-shadow: 5px 10px 50px 0 rgba(1,121,255,.1), 5px 10px 50px 0 rgba(0,0,0,.2);

        .arrow{
            width:30px;
            //height:418px; 
            background: none;
            font-size: 82px;
            border-style: none;
            color:darkgrey;
            font-family: monospace;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: inherit;

            img:hover{
            background-color:#edf1f4
            }
        }

        #slider { 
            overflow: hidden; 
            background-color: white;
            //width:1040px;
            //height:418px;
            #figure { 
                position: relative;
                width: 5000%;
                margin: 0;
                left: 0; /* use this to shift cards */  
                text-align: left;
                transition: 800ms;
                transition-timing-function: ease-out;
              
                .card { 
                    //width: 1040px; 
                    float: left; 
                    display: flex;
                    align-items: center;
                    margin-top: 9px;
                    .img-zone {
                        width:50%;
                        position: relative;
                        float:left;
                        height: auto;
                        border-radius: 4px;
                        .img {
                            width:100%;
                            height: auto;
                            border-radius: 4px;
                        }
                        .weather{
                            position: absolute;
                            color: white;
                            right: 20px;
                            top: 10px;
                            display:flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            height: 140px;
                            .cloud{
                                margin-right: 9px;
                                width:60px;
                                height:47px;
                            }
                            .local-time{
                                font-size: 20px;
                            }
                            .temperature{
                                font-size: 23px;
                                display:flex;
                                flex-direction: line;
                                justify-content: center
                                p {
                                    font-size: 38px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                           
                    .Info {
                        width:50%;
                        padding: 16px;
                        background-color: white;
                        float: left;    
                        font-family: Noto Sans,sans-serif;
                        .city {
                            //font-size: 30px;
                            font-weight: bold;
                        }
                        .country {
                            //font-size: 24px;
                            color: dimgray;
                        }
                        .description {
                            //font-size: 15px;
                            //height: 120px;
                            overflow-y: scroll;
                        }
                        .stars {
                            //width: 94px;
                            margin-bottom: 17px;
                            margin-top: 7px;
                        }
                        .starting-from{
                            //font-size: 14px;
                            margin-top:20px;
                            color:grey;
                        }
                
                        .price{
                            font-weight: bold;
                            color: #4bab86;
                            margin-bottom: 13px;
                            //.amount{
                            //    //font-size: 34px;
                            //}
                            .currency{
                                //font-size: 20px;
                                margin-left: 5px;
                            }
                        }
                
                        .button-bar{
                            //font-size: 20px;
                            display:flex; 
                            justify-content: flex-start;
                            //width: 60%;
                            .button{
                                background: none;
                                border: 1px solid #43a27c;
                                color: #43a27c;
                                border-radius: 3px;
                                padding: 9px;
                                //font-size: 17px;
                                font-weight: bold;
                                margin-right: 20px;
                            }
                        }
                    }
            
                }
            }
        }

      
    }

}

