
body { margin: 0; font-family: Noto Sans,sans-serif;} 


#container { 
    width: 1102px;
    height: 420px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #edf1f4;
    box-shadow: 5px 10px 50px 0 rgba(1,121,255,.1), 5px 10px 50px 0 rgba(0,0,0,.2);
}

#slider { 
    overflow: hidden; 
    background-color: white;
    width:1040px;
    height:418px;
}

#slider #figure { 
    position: relative;
    width: 5000%;
    margin: 0;
    left: 0;/* jouer sur left pour decaler */  
    text-align: left;
    
    transition: 800ms;
    transition-timing-function: ease-out;
    /*animation: 10s slidy infinite; */
}
/* two screen breakpoints (1920 & 1280).  */
#slider #figure .card { 
    width: 1040px; 
    float: left; 
    display: flex;
    align-items: center;
}

.imgZone{
    width:50%;
    position: relative;
    float:left;
    height: auto;
    border-radius: 4px;
}

.imgZone .img {
    width:100%;
    height: auto;
    border-radius: 4px;
}


.imgZone .weather{
    position: absolute;
    color: white;
    right: 20px;
    top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 140px;
}

.imgZone .weather .cloud{
    margin-right: 9px;
}

.imgZone .weather .local-time{
  font-size: 20px;
}

.imgZone .weather .temperature{
    display:flex;
    flex-direction: line;
    justify-content: center
 }
 
 .imgZone .weather .temperature p{
    font-size: 38px;
    margin: 0;
 }


.Info{
    width:50%;
    padding: 16px;
    background-color: white;
    float: left;    
    font-family: Noto Sans,sans-serif;
}

.Info .city {
    font-size: 30px;
    font-weight: bold;

}

.Info .country {
    font-size: 24px;
    color: dimgray;
}

.Info .stars {
    width: 94px;
    margin-bottom: 17px;
    margin-top: 7px;
}

.Info .description {
    font-size: 15px;
    height:120px;
    overflow-y: scroll;
}

.starting-from{
    margin-top:20px;
    font-size: 14px;
    color:grey;
}

.price{
    font-weight: bold;
    color: #4bab86;
    margin-bottom: 13px;
}

.button-bar{
  font-size: 20px;
  display:flex; 
  justify-content: space-between;
  width: 60%;
}

.arrow{
    width:30px;
    height:418px; 
    background: none;
    font-size: 82px;
    border-style: none;
    color:darkgrey;
    font-family: monospace;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.button{
    background: none;
    border: 1px solid #43a27c;
    color: #43a27c;
    border-radius: 3px;
    padding: 9px;
    font-size: 17px;
    font-weight: bold;
}

button img:hover{
    background-color:#edf1f4
}

.price .amount{
    font-size: 34px;
}

.price .currency{
    font-size: 20px;
    margin-left: 5px;
}